@import '../../scss/variables';

.header-wrapper {
  width: 100vw;
  //   background-image: url('../../images/header3.jpg') !important;
  //   background-repeat: no-repeat !important;
  //   background-size: cover !important;
  //   background-position: 50% 50% !important;
  //   background-attachment: fixed;
  background-color: rgba(255, 247, 0, 0.3);
  height: $headerHeight;
  z-index: 1000;
}

.header-content {
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  .btn {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
  }
}

.header-logo {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
  }
}
